
input[type="landing-input"] {
  text-align: center;
  background: var(--color-bg);
  height: 5.4rem;
  border: 0;
  width: calc(100% - 2px);
  padding-left: 1.5rem;
  font-size: 2.4rem;
}
input[type="landing-input"]:focus {
  outline: none;
  width: 100%;
  text-align: center;
  box-shadow: 0px 10px 0px -7px var(--color-primary-1);
}


body {
/*   overflow: hidden; */
  overflow-x: hidden;
}

h1,h2 {
  color: var(--color-primary-1);
}

.wrapper {
  height: 100%;
  background: #263729;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
}

.page {
  float: left;
  background: var(--color-bg);
  min-height: 100%;
  width: 100%;}


.landing-button {
  border: 3px solid var(--color-primary-1);
  font-size: 2.4rem;
  padding-bottom: 4rem;
/*   position: fixed; */
}
.landing-button:focus {
  border-radius: 10px;
}


.slider {
    width: 90%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
/*     position: relative; */
}

.slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    margin-right: 0px;
    box-sizing: border-box;
/*     background: white; */
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;

}

.slide:nth-of-type(even) {
/*     background-color: rgb(250, 246, 212); */
}

.slide__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

.slide a {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}

a.slide__prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.slide__next{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}

.slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 69%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}

.slider__navlink {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 60%;
    border-style: solid;
  border-width: 4px;
    border-color: var(--color-primary-1);
    margin: 0 10px 0 10px;
}

.slider__navlink:focus {
    display: inline-block;
    height: 7px;
    width: 10px;
    border-radius: 60%;
    background-color: var(--color-primary-1);
    margin: 0 10px 0 10px;
}

.slider__navlink:visited {
  background-color: var(--color-primary-1);
}

::-webkit-scrollbar {
    display: none;
}

.button {
  font-family: var(--font-secondary);
}
.placeholder {height: 500px;}
#more-questionnaire {
  height: 1000px;
}


input[type="number"] {
  text-align: center;
  background: var(--color-bg);
  height: 5.4rem;
  border: 0;
  width: calc(100% - 2px);
  padding-left: 1.5rem;
  font-size: 2.4rem;
  box-shadow: 0px 10px 0px -7px var(--color-primary-1);
}
input[type="number"]:focus {
  outline: none;
  width: 100%;
  text-align: center;
  border: none;
  box-shadow: 0px 10px 0px -7px var(--color-primary-1);
}
input[type="number"]:hover {
  outline: none;
  width: 100%;
  text-align: center;
  border: none;
  box-shadow: 0px 10px 0px -7px var(--color-primary-1) !important;
}
input[type="number"]:invalid {
  box-shadow: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
#submit{
  float: right;
}
.details-pic {float:left;}
.details-text {
  float:right;
  padding-left: 20%;
  margin-top: 27%;
}
.img-large {
  padding: 20px;
  margin-top: 100px;
  margin-left: -80px;
  border-radius: 50px;
  width: 450px;
  height: auto;
  filter: opacity(85%) saturate(65%);
}
.thumbs-up {
  border: 3px solid var(--color-primary-1);
  font-size: 1.5rem;
  padding-bottom: 4rem;
  text-align: left;
  font-family: var(--font-secondary);
}

.Chevron{
    position:relative;
    display:block;
    height:50px;/*height should be double border*/
}
.Chevron::before,
.Chevron::after{
    position:absolute;
    display:block;
    content:"";
    border:25px solid transparent;/*adjust size*/
}
/* Replace all text `top` below with left/right/bottom to rotate the chevron */
.Chevron::before{
    top:0;
    border-top-color: var(--color-primary-1);
}
.Chevron::after{
    top:-8px;/*adjust thickness*/
    border-top-color: var(--color-bg);
}
